
/Resources
Mega Man Project/Saved/Telemetry/Telemetry.json
Mega Man Project\Binaries\Win64\MegaManProject-Win64-Shipping.exe
Mega Man Project\Binaries\Win64\MegaManProject-Win64-Shipping.pdb
Mega Man Project\Binaries\Win64\MegaManProject.exe
Mega Man Project\Binaries\Win64\MegaManProject.pdb
Mega Man Project\Intermediate\Bui...\SharedPCH.Core.Project.VaIApi.Cpp20.h.pch
Mega Man Project\Intermediate\Bui...\SharedPCH.Engine.Project.VaIApi.Cpp20.h.pch
Mega Man Project\Intermediate\Bui...\SharedPCH.Core.Project.VaIApi.Cpp20.h.pch
Mega Man Project\Intermediate\Bui...\SharedPCH.Engine.Project.VaIApi.Cpp20.h.pch
Mega Man Project\S...\ShaderArchive-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode